.nav {
	
	margin: 27px auto 0;
	position: relative;
	width: 590px;
	height: 50px;
	background-color: #50A909;
	border-radius: 8px;
	font-size: 0;
}
.nav a {
	margin-left: 17px;
	float: left;
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

.header {
	margin-top: 70px;
}
.footer {
	margin-top: 100px;
}

body{
  width:1400px;
  margin:0px auto;
}
table {
	column-gap: 200px
}

.if-image {
 
filter: grayscale(100%);
 
-webkit-filter: grayscale(100%);
 
}

.if-image {

filter: grayscale(100%);

-webkit-filter: grayscale(100%);

transition:filter 0.4s;

-webkit-transition:-webkit-filter 1s;

}

.if-image {
 
filter: grayscale(100%);
 
-webkit-filter: grayscale(100%);
 
transition:filter 0.4s;
 
-webkit-transition:-webkit-filter 1s;
}

.if-image {

filter: grayscale(100%);

-webkit-filter: grayscale(100%);

transition:filter 0.4s;

-webkit-transition:-webkit-filter 1s;

}

.if-image {
 
filter: grayscale(100%);
 
-webkit-filter: grayscale(100%);
 
transition:filter 0.4s;
 
-webkit-transition:-webkit-filter 1s;
}